.App {
  text-align: center;
  background: linear-gradient(
      29deg,
      rgba(109, 40, 217, 0.1) 0%,
      rgba(255, 255, 255, 0.5) 20%,
      rgba(255, 255, 255, 0) 23%
    ),
    linear-gradient(
      305deg,
      rgba(29, 78, 216, 0.1) 0%,
      rgba(255, 255, 255, 0.5) 25.5%,
      rgba(255, 255, 255, 0) 26.5%
    );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.App-logo {
  img {
    height: 48px;
    pointer-events: none;
  }
  p {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0px;
    color: rgba(20, 184, 166, 1);
  }
  margin-bottom: 48px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
}

.togglebot-content {
  width: 60%;
  padding: 1em 2em 1em 2em;
  border-radius: 0.5rem;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom: none !important;
  border: 2px solid rgba(229, 231, 235, 1);
  background: linear-gradient(0deg, #f9fafb, #f9fafb),
    linear-gradient(0deg, #e5e7eb, #e5e7eb);
}

.togglebot-message {
  position: relative;
  color: #1d4ed8;
  background-color: #ffffff;
  border: 2px solid #1d4ed8;
  border-radius: 6px;
  padding: 1em;
  font-size: 20px;
  margin-bottom: 2em;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}

.togglebot-message:after {
  content: " ";
  position: absolute;
  height: 30px;
  width: 30px;
  transform: rotate(45deg);
  left: calc(50% - 15px);
  bottom: -17px;
  background-color: #ffffff;
  border: 2px solid transparent;
  border-right-color: #1d4ed8;
  border-bottom-color: #1d4ed8;
  z-index: -1;
}

.togglebot {
  height: 220px;
  pointer-events: none;
}

.variation-details {
  background: linear-gradient(270deg, #071746 0%, #111827 100%);
  border-radius: 0.5rem;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  padding: 0.5rem 6rem 0.5rem 6rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-emphasis: none;
  width: fit-content;

  p {
    display: inline;
  }
}

.instructions {
  width: 60%;
  border-radius: 0.5rem;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  padding: 0.5em 2em 0.5em 2em;
  border: 2px solid rgba(229, 231, 235, 1);
  background-color: white;
  p,
  h3 {
    font-size: 14px;
  }
}

.App-user {
  margin: 0.5em;
}

.App-user p {
  margin: 0.5em;
}

.App-buttons {
  display: flex;
  justify-content: center;
}

.App-button {
  font-weight: bold;
  padding: 0.5em 1em;
  margin: 0 0.5em;
  border-color: transparent;
  border-radius: 3px;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .spin-slow {
    animation: Spin infinite 20s linear;
  }
  .spin-fast {
    animation: Spin infinite 5s linear;
  }
  .spin-off-axis {
    animation: SpinOffAxis 3s linear infinite;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes Spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes SpinOffAxis {
  0% {
    transform: rotateY(0deg) rotate(0deg);
  }
  50% {
    transform: rotateY(180deg) rotate(180deg);
  }
  100% {
    transform: rotateY(360deg) rotate(360deg);
  }
}
